@model InternetBanking.Models.HelpRequest

@{
    ViewData["Title"] = "DetailTrue";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center mb-4">Answered Request Detail</h1>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Help Request For:</h4>
                    <hr />

                    <dl class="row">
                        <dt class="col-sm-4">Account Number</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.AccountId)</dd>

                        <dt class="col-sm-4">Customer</dt>
                        <dd class="col-sm-8">@ViewBag.Name</dd>

                        <dt class="col-sm-4">Subject</dt>
                        <dd class="col-sm-8">@ViewBag.Type</dd>

                        <dt class="col-sm-4">Content</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Content)</dd>

                        <dt class="col-sm-4">Created Date</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.CreatedDate)</dd>

                        <dt class="col-sm-4">Answer</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Answer)</dd>

                        <dt class="col-sm-4">Answered By</dt>
                        <dd class="col-sm-8">@ViewBag.EmpName</dd>
                    </dl>
                </div>
            </div>

            <div class="text-center mt-4">
                <a asp-action="UserViewTrue" class="btn btn-primary">Back to View</a>
            </div>
        </div>
    </div>
</div>

