@model IEnumerable<InternetBanking.Models.HelpRequest>

@{
    ViewData["Title"] = "EmployeeView";
    Layout = "_LayoutAdmin";
}

<div class="container">
    <h1 class="text-center mb-4">Unfinished Help Request</h1>
    @if (ViewBag.TransactionStatus != null)
    {
        <div class="alert alert-@(ViewBag.Color) text-white" role="alert" id="transactionAlert">
            @if (ViewBag.Color == "success")
            {
                <strong>Success!</strong> @ViewBag.TransactionStatus
            }
            else
            {
                <strong>Error!</strong> @ViewBag.TransactionStatus
            }
        </div>
    }
    <div class="row justify-content-center">
        <div class="col-md-10">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Account Number</th>
                        <th>@Html.DisplayNameFor(model => model.RequestTypeId)</th>
                        <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.AccountId)</td>
                            <td>@Html.DisplayFor(modelItem => item.RequestTypeId)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                            <td>
                                <a class="btn btn-warning btn-sm" asp-action="Answer" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        setTimeout(function () {
            document.getElementById('transactionAlert').style.display = 'none';
        }, 20000);
    </script>
}

