@model InternetBanking.Models.HelpRequest

@{

    ViewData["Title"] = "Create";
    Layout = "_LayoutUser";

    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

}

<h1>Create Request</h1>
@if (ViewBag.TransactionStatus != null)
{
    <div class="alert alert-@(ViewBag.Color) text-white" role="alert" id="transactionAlert">
        @if (ViewBag.Color == "success")
        {
            <strong>Success!</strong> @ViewBag.TransactionStatus
        }
        else
        {
            <strong>Error!</strong> @ViewBag.TransactionStatus
        }
    </div>
}
<div class="container mt-4">
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="AccountId" class="form-label">Account Number</label>
            <div class="input-group input-group-outline my-3">
                <select asp-for="AccountId" class="form-control" required>
                    <option value="">Select an account</option>
                    @foreach (var account in ViewBag.UserAccounts)
                    {
                        <option value="@account.AccountNumber">@account.AccountNumber</option>
                    }
                </select>
                <div class="invalid-feedback">Please select an account.</div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="RequestTypeId" class="form-label">Request Type</label>
            <div class="input-group input-group-outline my-3">
                <select asp-for="RequestTypeId" class="form-control" required>
                    <option value="">Select a request type</option>
                    @foreach (var helpRequestType in ViewBag.HelpRequestsTypes)
                    {
                        <option value="@helpRequestType.RequestTypeId">@helpRequestType.TypeName</option>
                    }
                </select>
                <div class="invalid-feedback">Please select a request type.</div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Content" class="form-label">Content</label>
            <div class="input-group input-group-outline my-3">
                <textarea asp-for="Content" class="form-control" required></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
                <div class="invalid-feedback">Please provide content for the request.</div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary w-100">Create</button>
        </div>
    </form>
</div>
@section Scripts {
    <script>
        setTimeout(function () {
            document.getElementById('transactionAlert').style.display = 'none';
        }, 20000);
    </script>
}

