@model IEnumerable<InternetBanking.Models.HelpRequest>

@{
    ViewData["Title"] = "UserView";
    Layout = "_LayoutUser";
}

<div class="container">
    <h1 class="text-center mb-4">Answered Help Request</h1>

    <div class="row justify-content-center">
        <div class="col-md-10">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Account Number</th>
                        <th>@Html.DisplayNameFor(model => model.RequestTypeId)</th>
                        <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.AccountId)</td>
                            <td>@Html.DisplayFor(modelItem => item.RequestTypeId)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                            <td>
                                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
