@model IEnumerable<InternetBanking.Models.Account>
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout.cshtml";
}

<h1>Index</h1>

<h1>Welcome siuuuu</h1>
<p>
    <a asp-area="" asp-controller="MyAccount"  asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpireDate)
            </th>
            <th></th>
        </tr>
    </thead>
    @* <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpenDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpireDate)
                </td>

                <td>
                    <a asp-action="Delete" asp-route-id="@item.AccountNumber">Delete</a>
                </td>
            </tr>
        }
    </tbody> *@
</table>

