@model InternetBanking.Models.Transaction

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    
}
@section Styles {
    <link rel="stylesheet" href="~/css/Transaction/Index.css" />
}
<div class="row">
    <div class="col-md-7 mt-4">
        <div class="card">
            <div class="card-header pb-0 px-3">
                <h6 class="mb-0">Transaction</h6>
            </div>
            <div class="card-body pt-4 p-3">
                <form asp-action="ProcessTransaction" method="post">
                    <label asp-for="SenderAccountNumber" class="form-label">My Account</label>
                    <div class="input-group input-group-outline my-3">
                        <select asp-for="SenderAccountNumber" class="form-control" id="SenderAccount" aria-describedby="basic-addon3">
                            @foreach (var account in ViewBag.Accounts)
                            {
                                <option value="@account.AccountNumber">@account.AccountNumber</option>
                            }
                        </select>
                    </div>
                    <label class="form-label" asp-for="ReceiverAccountNumber">Receiver Account Number</label>
                    <div class="input-group input-group-outline my-3">
                      
                        <input asp-for="ReceiverAccountNumber" class="form-control form-control-lg" aria-describedby="basic-addon3" onfocus="focused(this)" onfocusout="defocused(this)" required>
                    </div>
                    <label class="form-label" asp-for="Amount">Amount</label>
                    <div class="input-group input-group-outline my-3">
                        
                        <input asp-for="Amount" class="form-control form-control-lg" aria-describedby="basic-addon3" onfocus="focused(this)" onfocusout="defocused(this)" required min="0">
                    </div>
                    <label class="form-label" asp-for="Content">Transaction Details</label>
                    <div class="input-group input-group-outline my-3">
                       
                        <textarea asp-for="Content" aria-describedby="basic-addon3" onfocus="focused(this)" onfocusout="defocused(this)" rows="3" class="form-control" required></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn bg-gradient-primary w-100">Transfer Money</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-5 mt-4">
        <div class="card h-100 mb-4">
            <div class="card-header pb-0 px-3">
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="mb-0">Your Transaction's</h6>
                    </div>
                    <div class="col-md-6 d-flex justify-content-start justify-content-md-end align-items-center">
                        <i class="material-icons me-2 text-lg">date_range</i>
                        <small>23 - 30 March 2020</small>
                    </div>
                </div>
            </div>
            <div class="card-body pt-4 p-3">
                <h6 class="text-uppercase text-body text-xs font-weight-bolder mb-3">Newest</h6>
                <ul class="list-group">
                    @foreach (var transaction in ViewBag.History)
                    {
                        bool isDanger = false;
                        foreach (var account in ViewBag.Accounts)
                        {
                            if (account.AccountNumber == transaction.SenderAccountNumber)
                            {
                                isDanger = true;
                                break;
                            }
                        }
                        string buttonStyle = isDanger ? "danger" : "success";
                        <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                            <div class="d-flex align-items-center">
                                <button class="btn btn-icon-only btn-rounded btn-outline-@buttonStyle mb-0 me-3 p-3 btn-sm d-flex align-items-center justify-content-center">
                                    <i class="material-icons text-lg">
                                        @if (buttonStyle == "danger")
                                        {
                                            <text>expand_more</text>
                                        }
                                        else
                                        {
                                            <text>expand_less</text>
                                        }
                                    </i>
                                </button>
                                <div class="d-flex flex-column">
                                    <h6 class="mb-1 text-dark text-sm">
                                        @if (buttonStyle == "danger")
                                        {
                                            <text>To: </text>
                                        }
                                        else
                                        {
                                            <text>From: </text>
                                        }
                                        @transaction.ReceiverAccountNumber
                                    </h6>
                                    <span class="text-xs">@transaction.TransactionDate.ToString("dd MMMM yyyy, 'at' hh:mm tt")</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center text-@(buttonStyle) text-gradient text-sm font-weight-bold">
                                @if (buttonStyle == "danger")
                                {
                                    <text>- $ @Math.Abs(transaction.Amount)</text>
                                }
                                else
                                {
                                    <text>+ $ @transaction.Amount</text>
                                }
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            // Show the success modal on page load
            $('#successModal').modal('show');

            // Handle modal dismissal
            $('#successModal').on('hidden.bs.modal', function (e) {
                // Reinitialize the modal when it is hidden
                $(this).removeData('bs.modal');
            });

            // Handle clicking on the close button
            $('#successModal .close, #successModal button.close').on('click', function () {
                // Hide the modal
                $('#successModal').modal('hide');
            });

        });
    </script>

}
