@model InternetBanking.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Customer Details</h1>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">Personal ID:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.PersonalId)</dd>

        <dt class="col-sm-2">Email:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Email)</dd>

        <dt class="col-sm-2">Phone:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Phone)</dd>

        <dt class="col-sm-2">First Name:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.FirstName)</dd>

        <dt class="col-sm-2">Last Name:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.LastName)</dd>

        <dt class="col-sm-2">Address:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Address)</dd>

        <dt class="col-sm-2">Open Date:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.OpenDate)</dd>

        <dt class="col-sm-2">Status:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Status)</dd>

        <dt class="col-sm-2">User ID:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.InternetBankingUser.Id)</dd>
    </dl>

    <div class="row">
        <div class="col-md-2">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        </div>
        <div class="col-md-2">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
