@model IEnumerable<InternetBanking.Models.Deposit>

@{
    ViewData["Title"] = "UserHistory";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1>UserHistory</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepositAccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.IssueDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepositAccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueDate)
            </td>
            <td>
               
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
