@model IEnumerable<InternetBanking.Models.Account>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<!-- Link to DataTables Bootstrap CSS (for styling) -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">





@if (Model != null && Model.Any())
{
    <div class="table-responsive">
        <table border="1" class="table display" id="myTable">
            <!-- Table headers and body -->
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Balance)</td>
                        <td>@Html.DisplayFor(modelItem => item.OpenDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.ExpireDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td>@Html.DisplayFor(modelItem => item.Customer.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.AccountType.TypeName)</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.AccountNumber" class="btn btn-sm btn-warning">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.AccountNumber" class="btn btn-sm btn-info">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.AccountNumber" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                // Add your DataTables configurations here
            });
        });
    </script>
}
else
{
    <p class="text-center">No accounts found. Create a new account by clicking the button below.</p>
    <p class="text-center">
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- Link to DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<!-- Link to DataTables Bootstrap JS (for styling) -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<!-- Initialize DataTable -->
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            // Add your DataTables configurations here
        });
    });
</script>