@model System.Collections.Generic.List<InternetBanking.Models.Transaction>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Transaction Statements</h2>

<p>All Transaction</p>

<table class="table">
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Sender Account</th>
            <th>Receiver Account</th>
            <th>Amount</th>
            <th>Content</th>
            <th>Transaction Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.Id</td>
                <td>@transaction.SenderAccountNumber</td>
                <td>@transaction.ReceiverAccountNumber</td>
                <td>@transaction.Amount</td>
                <td>@transaction.Content</td>
                <td>@transaction.TransactionDate</td>
            </tr>
        }
    </tbody>
</table>

